<style>
html {
   margin: 0px;
   height: 100%;
   width: 100%;
     cursor:none;
}
body{
  width: auto;
  height: auto;
  background-attachment: fixed;
  background-color: white;
  z-index:5;
font-family: 'Miriam Libre', sans-serif;
  font-size: 50vw;
  cursor:none;
  margin:0;
  padding:0;
  overflow-y:auto;
  overflow-x: hidden;
  display:flex;
}
img {
  width:10.3vw;
  height:4vw;;
  margin-left: 5.5vw;
  margin-top: 5vw;
  position:absolute;
  z-index: 8;
}
p{
  transition:1s;
  -webkit-transition: 1s;
  -moz-transition: 1s ;
  -o-transition: 1s;
  display:initial;
  margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0vw;
    margin-inline-end: 0vw;
}

.cursori{
    position:fixed;
      border-radius: 50%;
        z-index: 9;
          pointer-events: none;
            box-sizing: content-box;
                background-color:transparent;
                transition: 0.1s;
}
#cursor{
  height:59px;
  width: 59px;
  background-color:	#00FA9A;
  transform: translate(-50%, -50%);

}
#cursor2{
  transform: translate(-50%, -50%);
}
#cursor3{
  transform: translate(-50%, -50%);
}
#cursor4{
  transform: translate(-50%, -50%);
}
#cursor5{
  transform: translate(-50%, -50%);
}
#cursor6{
  transform: translate(-50%, -50%);
}
#cursor7{
  transform: translate(-50%, -50%);
}
#cursor8{
  transform: translate(-50%, -50%);
}
#cursor9{
  transform: translate(-50%, -50%);
}
#cursor10{
  transform: translate(-50%, -50%);
}
#cursor11{
  transform: translate(-50%, -50%);
}
#cursor12{
  transform: translate(-50%, -50%);
}
#cursor13{
  transform: translate(-50%, -50%);
}
#cursor14{
  transform: translate(-50%, -50%);
}


.box-about:hover ~ #cursor {
  width: 130vw;
  height:130vw;
    background-color:#00FA9A;
  animation: animate 3s linear infinite;
  transition: 0.1s;
    border-radius: 50%;
    transition: all 0.8s cubic-bezier(0.5, 0, 0.02, 1);
}
@media screen and (min-width: 1300px) {
 .box-about:hover ~ #cursor{
   width: 80vw;
   height:80vw;
   margin-top: -15vw;
 }
}
.box-contact:hover ~ #cursor {
  width: 90vw;
  height:90vw;
  background-color:##00FA9A ;
    border: 2px solid #75D5FD;
  transition: 0.1s;
    border-radius: 50%;
      filter: blur(100px);
      opacity: 1;
}
@media screen and (min-width: 1300px) {
.box-contact:hover ~ #cursor{
  width: 60vw;
  height:60vw;
      filter: blur(200px);
 }
}

.box-about:hover ~ #cursor3 {
  width: 17vw;
  height:17vw;
  border: 1.5px dashed black;
  animation: animate 6s linear infinite;
  transition: 0.1s;
    border-radius: 50%;
}
@media screen and (min-width: 1300px) {
.box-about:hover ~ #cursor3{
  width: 9vw;
  height:9vw;
        border: 2.2px dashed black;
 }
}
.box-about:hover ~ #cursor2 {
  width: 15vw;
  height:15vw;
  border: 1.5px dashed black;
  animation: -animate 4.5s linear infinite;
  transition: 0.1s;
    border-radius: 70%;
}
@media screen and (min-width: 1300px) {
.box-about:hover ~ #cursor2{
  width: 7.7vw;
  height:7.7vw;
      border: 2.5px dashed black;
        border: 2.2px dashed black;
 }
}
.box-contact:hover ~ #cursor4 {
  width: 15vw;
  height:15vw;
  border: 0.7px solid black;
  animation: -animate 10s linear infinite;
  transition: 0.1s;
  border-radius: 0%;
    margin-left: 0vw;
    margin-top: 0vw;
}
@media screen and (min-width: 1300px) {
.box-contact:hover ~ #cursor4{
  width: 11vw;
  height:11vw;
  margin-left: 0vw;
  margin-top: 0vw;
    border: 1.2px solid black;
 }
}
.box-contact:hover ~ #cursor5 {
  width: 14vw;
  height:14vw;
  border: 0.7px solid black;
  animation: animate 10s linear infinite;
  transition: 0.1s;
  border-radius: 0%;
    margin-left: 0vw;
    margin-top: 0vw;
}
@media screen and (min-width: 1300px) {
.box-contact:hover ~ #cursor5{
  width: 40vw;
  height:40vw;
  margin-left: 0vw;
  margin-top: 0vw;
      border: 1.2px solid black;
 }
}










.box-works:hover ~ #cursor {
  width: 20vw;
  height:20vw;
  background-color: transparent;
  border: 3px solid #00FA9A;
    transition: 0.1s;
    transition: all 0.0s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor2 {
  width: 30vw;
  height:30vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.1s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor3 {
  width: 40vw;
  height:40vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor4 {
  width: 50vw;
  height:50vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.3s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor5 {
  width: 60vw;
  height:60vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.4s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor6 {
  width: 70vw;
  height:70vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.5s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor7 {
  width: 80vw;
  height:80vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.6s cubic-bezier(0.5,0, 0.02, 1);
}
.box-works:hover ~ #cursor8 {
  width: 90vw;
  height:90vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.7s cubic-bezier(0.5, 0, 0.02, 1);
}
.box-works:hover ~ #cursor9 {
  width: 100vw;
  height:100vw;
  border: 0.5px solid black;
    transition: 0.1s;
    transition: all 0.8s cubic-bezier(0.5, 0, 0.02, 1);
}



@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes -animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
#vio{
  position: absolute;
  z-index: 10;
  margin-left: 5.5vw;
  margin-top: 6vw;
  font-size: 2.2vw;
  font-weight: lighter;
  pointer-events: none;
font-family: 'Montserrat', sans-serif;

}
@media screen and (min-width: 1300px) {
 #vio{
   position:absolute;
font-size:1vw;
margin-left: 2.3vw;
margin-top: 2vw;
  z-index: 10;
  font-weight: lighter;
 }
}
#la{
  position: absolute;
    z-index: 10;
  margin-left: 5.5vw;
  margin-top: 6vw;
  font-size: 2.8vw;
  font-weight: bold;
  pointer-events: none;
  font-family: 'Muli', sans-serif;
  opacity:0;
}
@media screen and (min-width: 1300px) {
 #la{
   position:absolute;
     z-index: 10;
font-size:1.5vw;
margin-left: 96%;
margin-top: 1vw;
 }
}
#m{
  position: absolute;
  margin-left: 5.5vw;
  margin-top: 6vw;
  font-size: 2.8vw;
  font-weight: bold;
  pointer-events: none;
  font-family: 'Muli', sans-serif;
  opacity:0;
}
@media screen and (min-width: 1300px) {
 #m{
   position:absolute;
font-size:2vw;
margin-left: 1vw;
margin-top: 44%;
 }
}

a {
  animation: compare 9s;
    color:black;
    transition: 1s;
    z-index:5;
    opacity: 1;
    animation-duration: 9s;
    cursor:none;
    text-decoration: none;
}
a:link {
  color:black;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  transition: 0.5s;
}
a:active {
  color: black;
}

#about {
  animation: compare 1.5s;
  text-align: center;
  position:absolute;
  margin-left: 34.5vw;
  margin-top: 49vw;
  font-size: 10vw;
  font-weight: lighter;
  transition: 0.6s;
  z-index:10;
  opacity: 1;
  transform:rotate(0deg);
}
@media screen and (min-width: 1300px) {
 #about{
   position:absolute;
font-size:5.3vw;
margin-left: 19vw;
margin-top: 24.5vw;
//transform:rotate(-37deg);
 }
}
#works{
  animation: compare 2.5s;
    text-align: center;
    margin-top: 68vw;
  margin-left: 33vw;
    position:absolute;
    font-size: 10vw;
    font-weight: lighter;
    transition: 0.6s;
    z-index:10;
    transform:rotate(0deg);
    opacity: 1;
}
@media screen and (min-width: 1300px) {
 #works{
   text-align: center;
   position:absolute;
font-size:5.3vw;
margin-top: 24.5vw;
margin-left: 38.2vw;
  //transform:rotate(15deg);
 }
}
#contact {
  animation: compare 3.5s;
    text-align: center;
  margin-top: 88vw;
margin-left: 30vw;
    position:absolute;
    font-size:10vw;
    font-weight: lighter;
    z-index:10;
    opacity: 1;
    transition: 0.6s;
    transform:rotate(0deg);
}
@media screen and (min-width: 1300px) {
 #contact{
   position:absolute;
font-size:5.3vw;
margin-top: 24.5vw;
margin-left: 59vw;
  //transform:rotate(-30deg);
 }
}

@keyframes compare {
  0% {opacity: 0;
  }
  47% {opacity:0;}

  99% {opacity:1;
    }
}

@keyframes icone {
  0% {opacity: 0;
  }
  96% {opacity:0;}

  99% {opacity:1;
    }
}

.box-works, .box-about, .box-contact, {
  position:relative;
  width:130%;
  height: 20%;
  cursor:none;
  z-index:5;
}

.box-about, .box-works, .box-contact, a {
  line-height: 8vw;
}
@media screen and (min-width: 1300px) {
 .box-about, .box-works, .box-contact, a{
   line-height: 4.6vw;
 }
}

.custom-underline {
  position: relative;
  display: inline-block;
  text-align: center;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: black;
  text-decoration: none;
}
.custom-underline::after {
  content: "";
  position: absolute;
}
.box-works .custom-underline::after {
  top: 110%;
  height: 1vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-about .custom-underline::after {
  top: 108%;
  height: 1vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-contact .custom-underline::after {
  top: 110%;
  height: 1vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
@media screen and (min-width: 1300px) {
 .box-about .custom-underline::after{
top: 105%;
   height: 0.39vw;
   width: 0%;
   left: 0%;
 }
}
@media screen and (min-width: 1300px) {
 .box-works .custom-underline::after{
   top: 105%;
   height: 0.4vw;
   width: 0%;
   left: 1%;
 }
}
@media screen and (min-width: 1300px) {
 .box-contact .custom-underline::after{
top: 105%;
   height: 0.4vw;
   width: 0%;
   left: 1%;
 }
}
.box-works:hover .custom-underline::after {
  width: 98%;
    transition: 0.2s ease all;
}
.box-about:hover .custom-underline::after {
  width: 97%;
    transition: 0.2s ease all;
}
.box-contact:hover .custom-underline::after {
  width: 95%;
    transition: 0.2s ease all;
}



</style>

