<style>
html{}
body{
  background-image: url("images/sfondo.JPG");
  background-repeat: no-repeat;
  background-color:black;
  background-position: 80% 70%;
  background-attachment: fixed;
  background-size: 40%;
  margin-right:0px;
  margin-bottom: 0px;
  z-index:3;
  margin:0px;
  font-family: 'Shrikhand', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Poiret One', cursive;
font-size: 100%;
}

area{
  display:initial;

}



a {
  animation: compare 2s;
    color:white;
    font-size: 30px;
    transition: 1s;
    z-index:4;
    opacity: 1;
    transition: 1s;
    animation-duration: 5.4s;
    text-decoration:none;
}
a:link {
  color:white;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #642EFE;
}
a:active {
  color: #642EFE;
}


#about {
  animation: compare 1.6s;
  position:absolute;
  margin-top: 150px;
  margin-left: 170px;
  font-size: 30px;
  transition: 1s;
  z-index:4;
  opacity: 1;

}


#works{
  animation: compare 3.4s;
    margin-top: 270px;
    margin-left: 210px;
      position:absolute;
font-size: 30px;
    transition: 1s;
    z-index:4;
    opacity: 1;
}

#exercises {
  animation: compare 5.2s;
    margin-top:390px;
    position:absolute;
    margin-left: 250px;
    font-size: 30px;
    transition: 1s;
    z-index:4;
    opacity: 1;

}

#Contact{
  margin-top: 870px;
  margin-left: 310px;
  position:absolute;
  color: #642EFE;
  font-size: 30px;
  transition: 1s;
  z-index:4;


}

#collegamento{
  animation: compare 7s;
    margin-top:510px;
    position:absolute;
    margin-left: 290px;
    font-size: 30px;
    transition: 1s;
    z-index:4;
    opacity: 1;

}


img {
  transform:translate(-50%,-50%);
  position:fixed;
  top:10%;
  left:80%;
  z-index:5;
  width:200px;
  height:45px;
  opacity:1;
}

@keyframes compare {
  0% {opacity: 0;

  }
  66% {opacity:0;}


  99% {opacity:1;
    }


}
.vl-3 {

    border-left: 6px solid white;
    position:absolute;
    height: 300px;
    margin-left: 50px;
    margin-top: 0px;
    z-index: 5;
}
.vl-2 {

    border-left: 6px solid white;
    position:absolute;
    height: 420px;
    margin-left: 90px;
    margin-top: 0px;
    z-index: 5;
}

.vl-1 {

    border-left: 6px solid white;
    position:absolute;
    height: 540px;
    margin-left: 130px;
    margin-top: 0px;
    z-index: 5;
}

.vl {
   animation:scende1 1.8s;

    border-left: 6px solid white;
    position:absolute;
    height: 900px;
    margin-left: 170px;
    margin-top: 200px;
    z-index: 5;
}
.vl1 {
  animation:scende2 3.6s;
  position:absolute;
    border-left: 6px solid white;
    height: 850px;
    margin-left: 210px;
    margin-top: 318px;
    z-index: 5;
}
.vl2 {
  animation: scende3 5.4s;
  position:absolute;
    border-left: 6px solid white;
    height: 850px;
    margin-left:250px;
    margin-top: 440px;
    z-index: 5;

}

.vl3 {
  animation: scende4 6.8s;
  position:absolute;
    border-left: 6px solid white;
    height: 850px;
    margin-left:290px;
    margin-top: 562px;
    z-index: 5;

}

.fascia-firma {
  animation: trasla 9s;
  position:fixed;
  left:100%;
  top:7%;
  z-index:6;
  width:250px;
  height:50px;
  background-color:black;

}


.insta {
position:absolute;
margin-top: 940px;
margin-left: 310px;
position:absolute;
color: white;
font-size: 20px;
z-index:4;
}

.behance {
position:absolute;
margin-top: 970px;
margin-left: 310px;
position:absolute;
color: white;
font-size: 20px;
z-index:4;
}

#email {
  position:absolute;
  margin-top: 1030px;
  margin-left: 310px;
  position:absolute;
  color: white;
  font-size: 20px;
  z-index:4;
  display:inherit;
}

.fb {
  position:absolute;
  margin-top:1000px;
  margin-left: 310px;
  color:red;
  font-size:20px;
}



@keyframes scende1 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:818px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:200px;
    }
}
@keyframes scende2 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:1118px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:318px;
    }
}
@keyframes scende3 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:1118px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:440px;
    }
}

@keyframes scende4 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:1118px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:562px;
    }
}



@keyframes trasla{
  0% {left:70%;
    }
    100%{left:100%;

    }
}









</style>
