<style>
html {
   margin: 0px;
   height: 100%;
   width: 100%;
     cursor:none;
}
body{ width: auto;
height: auto;
background-image: url("images/sfondo6.jpg");
background-position: -9vw 17vw;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 120vw;
}

body{
  z-index:5;
  font-family: 'Rubik', sans-serif;
  font-size: 50vw;
  cursor:none;
  margin:0;
  padding:0;
  overflow-y:auto;
}

img {
  width:10.3vw;
  height:4vw;
  background-image: url('images/LAUS.jpg');
  background-repeat:no-repeat;
  margin-left: 5.5vw;
  margin-top: 5vw;
  position:absolute;
  z-index: 8;
}

//riga{
  animation: compare 2.7s;
  height:3px;
  width:53px;
  background-color:black;
  border-radius:1%;
  position: absolute;
  margin-top:109px;
  margin-left:286px;
  z-index:7;
}
#cursor{
  position:absolute;
  width:34px;
  height:34px;
  border:5px solid  #ff3300;
  box-sizing: content-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9;
  animation: animate 2s linear infinite;
}

p{
  transition:1s;
  -webkit-transition: 1s;
  -moz-transition: 1s ;
  -o-transition: 1s;
}

p:hover ~ #cursor {

  width: 40px;
  height:40px;
  border: 2px dashed black;
  color:black;
  animation: animate 3s linear infinite;
}

div:hover ~ #cursor {

  width: 80px;
  height:80px;
  border: 3.3px dashed black;
  color:black;
  animation: animate 4s linear infinite;
}



@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#hello{
  position: absolute;
  margin-left: 5.5vw;
  margin-top: 11vw;
  font-size: 1.1vw;
  font-weight:lighter;
  pointer-events: none;
}

a {
  animation: compare 9s;
    color:black;
    transition: 1s;
    z-index:5;
    opacity: 1;
    animation-duration: 9s;
    cursor:none;
    text-decoration: none;
}
a:link {
  color:black;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  transition: 0.5s;

}
a:active {
  color: black;
}


#about {
  animation: compare 4.5s;
  position:absolute;
  margin-left: 32.5vw;
  margin-top: 21vw;
  font-size: 4.5vw;
  font-weight: bold;
  transition: 0.6s;
  z-index:5;
  opacity: 1;
  transform:rotate(-43deg);

}


#works{
  animation: compare 6s;
    margin-top: 37vw;
  margin-left: 40vw;
    position:absolute;
    font-size: 4.5vw;
    font-weight: bold;
    transition: 0.6s;
    z-index:5;
    transform:rotate(21deg);
    opacity: 1;
}

 {
  animation: compare 3.5s;
    margin-top:20%;
    position:absolute;
    margin-left: 400px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.6s;
    z-index:5;
    opacity: 1;
    transform:rotate(34deg);

}



#collegamento {
  animation: compare 7.5s;
  margin-top: 23vw;
margin-left: 53vw;
    position:absolute;
    font-size:4.5vw;
    font-weight: bold;
    z-index:5;
    opacity: 1;
    transition: 0.6s;
    transform:rotate(-80deg);
    pointer-events: none;
}


//{
  animation: compare 3s;
  font-size:23px;
  font-weight: normal;
  z-index:7;
  transition: 0.6s;
  position:absolute;
  margin-top:125px;
  margin-left:289px;
}

@keyframes compare {
  0% {opacity: 0;

  }
  35% {opacity:0;}


  99% {opacity:1;
    }
}

#behance {
position:absolute;
margin-top:23.6vw;
margin-left:68.2vw;
color: black;
  font-size: 1.4vw;
z-index:5;
    transform:rotate(10deg);
}
#insta {
  font-weight:normal;
position:absolute;
margin-top: 27.3vw;
margin-left: 67.4vw;
position:absolute;
color:black;
  font-size: 1.4vw;
z-index:5;
    transform:rotate(10deg);
}
#fb {
  position:absolute;
  margin-top: 31vw;
margin-left: 66.7vw;
  color:black;
  font-size: 1.4vw;
  z-index:5;
    transform:rotate(10deg);
}
#email {
  position:absolute;
  margin-top: 36.7vw;
margin-left: 66vw;
  color: black;
  font-size: 1.4vw;
  z-index:5;
  display:inherit;
      transform:rotate(10deg);
}



@keyframes scende1 {

  0% {height:850px;
  margin-top:0px;
  }

  33% {height:818px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:200px;
    }
}
@keyframes scende2 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:1118px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:318px;
    }
}
@keyframes scende3 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:1118px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:440px;
    }
}

@keyframes scende4 {

  0% {height:850px;
  margin-top:0px;

  }
  33% {height:1118px;
  margin-top:0px;}


  99% {height: 850px;
    margin-top:562px;
    }
}
}
.box-works, .box-about, .box.behance, .box-insta, .box-fb{
  position:relative;
  width:130%;
  height: 20%;
  cursor:none;
  z-index:5;
}
.box-works, .box-about, .box-behance, .box-insta, .box-fb a {
  line-height:4.6vw;
}
.custom-underline {
  position: relative;
  display: inline-block;
  text-align: center;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: black;
  text-decoration: none;
}
.custom-underline::after {
  content: "";
  position: absolute;
}
.box-works .custom-underline::after {
  top: 97%;
  height: 0.5vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-about .custom-underline::after {
  top: 97%;
  height: 0.5vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-behance .custom-underline::after {
  top: 70%;
  height: 0.12vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-insta .custom-underline::after {
  top: 70%;
  height: 0.12vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-fb .custom-underline::after {
  top: 70%;
  height: 0.17vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-works:hover .custom-underline::after {
  width: 90%;
    transition: 0.2s ease all;
}
.box-about:hover .custom-underline::after {
  width: 90%;
    transition: 0.2s ease all;
}
.box-behance:hover .custom-underline::after {
  width: 90%;
    transition: 0.2s ease all;
}
.box-insta:hover .custom-underline::after {
  width: 90%;
    transition: 0.2s ease all;
}
.box-fb:hover .custom-underline::after {
  width: 90%;
    transition: 0.2s ease all;
}



</style>
