
  <style>
  html{}
@import url('https://fonts.googleapis.com/css?family=Monoton|Sedgwick+Ave+Display');
    body {
      background-color: white;
      background-image: url(https://i.pinimg.com/564x/b9/c8/e2/b9c8e24cb22b653bca0c7029158a0399.jpg);
      background-repeat:no-repeat;
      background-position: 100% 100%;
      background-attachment: fixed;
      background-size: auto;
      margin-right:0px;
      margin-bottom: 0px;
      font-family: 'Monoton', cursive;
font-family: 'Plaster', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Bungee Shade', cursive;
font-size: 300%;
      }

    h1 {
      color: red;
      margin-left: 40px;
      margin-top: 50px;
      text-align: center;
      transition: 1s;
      animation-duration: 2s;
      animation-timing-function:cubic-bezier(20deg);
    }

    p {
      color:black;
      margin: 100px;
      font-size: 30px;
      transition: 1s;
      animation-duration: 2s;
      animation-timing-function:cubic-bezier(20deg);
    }

    header{
      color: black;
      height:110px;
      padding:133px;
      padding-left: 0px;
      opacity: 0.9;
}

    a{
transition: 1s;
animation-duration: 2s;
animation-timing-function:cubic-bezier(20deg);
color:black;
font-size: 150%;
margin-left: 100px;
  }
a:visited {
  color: black;
}
a:hover {
  color: red;
}
  #p {
    transform: rotate(0);
    transition: all 2s;
}

#p: hover {
  transition: all 2s;
  transform: rotate(30deg);
}


span {
  color: black;
}

  .placeholder {
    border: 5px solid white;
    padding: 25px;
    margin: 100px;


}
<style>

@keyframes spin {
  from {width:10px;
  height:10px;
  opacity:0.5;}
to {width: 50px;
height: 50px;
opacity: 0;}
}

to {width: 50px;
height: 50px;
opacity: 0;
}

@keyframes cspin {
  from {width: 100px;
  height: 100px;
  opacity: 0.5;}

}

to {width: 0px;
height: 0px;
opacity: 1;
}

#spinner {
  animation: spin 1s infinite alternate;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.5;
}

#cspinner {
  animation: cspin 1s infinite alternate;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.5;

}

</style>

 </style>
