<style>
html {
   margin: 0px;
   height: 100%;
   width: 100%;
     cursor:none;
}
body{ height: 100%;
width: 100%;
margin:0;
padding:0;
overflow-y: auto;
overflow-x: hidden;
background-attachment: fixed;
}
body{
  z-index:5;
font-family: 'Montserrat', sans-serif;
  cursor:none;
  margin:0;
  padding:0;
}
br {
  content: "";
  margin: 0.00em;
  display: block;
}
img{
    position:absolute;
  width:auto;
  height:24vw;
  background-image: url('images/ME2.jpg');
  background-repeat:no-repeat;
  margin-left: 39vw;
  margin-top: 40vw;
  z-index: 8;
  opacity:0;
}
@media screen and (min-width: 1300px) {
 img{
   width:auto;
   height:10.5vw;
   position:absolute;
   margin-left: 86vw;
   margin-top: 34vw;
 }
}

p{
  position:absolute;
  color:black;
  transition:1s;
  -webkit-transition: 1s;
  -moz-transition: 1s ;
  -o-transition: 1s;
  display:initial;
  margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0vw;
    margin-inline-end: 0vw;
}
p{
position:absolute;
  z-index: 10;
  }
#p1{
  opacity:0;
}
  @media screen and (min-width: 1300px) {
   #p1{
     position:absolute;
     margin-top: 3.9vw;
     margin-left:9.3vw;
    font-size: 3.5vw;
    color: black;
    animation: compare 3s;
    opacity:1;
   }
  }
  #p2{
    margin-top: 8vw;
    margin-left:20vw;
    color: black;
    font-size: 5.7vw;
   opacity:1;
  }

  @media screen and (min-width: 1300px) {
   #p2{
         opacity:0;
   }
  }



#about{
  background-color: white;
  position: absolute;
  margin-left:20vw;
  margin-top: 96vw;
  font-size: 5vw;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
  opacity:0;
}
@media screen and (min-width: 1300px) {
 #about{
     background-color: white;
   position:absolute;
   margin-left:9vw;
   margin-top: 33vw;
     font-size: 2vw;
       opacity:0;
 }
}

#indietro{
    animation: compare 5s;
  position: absolute;
  font-size: 9vw;
  font-weight: bold;
  color:black;
  margin-left: 5vw;
  margin-top: 5vw;
  z-index:10;
  pointer-events: all;
}
@media screen and (min-width: 1300px) {
 #indietro{
   position:absolute;
   margin-left: 2.6vw;
   margin-top: 3.3vw;
  font-size: 3.5vw;
 }
}

a {
  animation: compare 2s;
  animation-duration: 2s;
  position: absolute;
    transition: 1s;
    z-index:10;
    opacity: 1;
    cursor:none;
}

a:link {
  color:black;
  text-decoration:none;
       cursor:none;
}
a:visited {
  color: black;
  text-decoration:none;
       cursor:none;
}
a:hover {
  color: #ff1a1a;
  text-decoration:none;
  cursor:none;
}
a:active {
  color: #ff1a1a;
  text-decoration:none;
       cursor:none;
}

#cursor{
  position:fixed;
  width:75px;
  height:75px;
  background-color: #a2ff00;
  box-sizing: content-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9;
}

a:hover ~ #cursor {
  width: 70px;
  height:70px;
  border: 2px dashed black;
  color:black;
  animation: animate 3s linear infinite;
       cursor:none;
       transition: 0.2s;
       background-color:transparent;
}


@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes compare {
  0% {opacity: 0;
  }
  35% {opacity:0;}

  99% {opacity:1;
    }
}

</style>
