<style>
html{}
  body {
    background-image: url("images/im18.JPG");
    background-repeat: no-repeat;
    background-color:black;
    background-position: 130% 70%;
    background-attachment: fixed;
    background-size: 50%;
    margin-right:0px;
    margin-bottom: 0px;
    z-index:3;
    margin:0px;
    font-family: 'Shrikhand', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Poiret One', cursive;
  font-size: 100%;
  }

  

 </style>
