<style>
html {
   margin: 0px;
   height: 100%;
   width: 100%;
     cursor:none;
}
body{ width: auto;
height: auto;
background-position: 8vw 50vw;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 50%;

}
body{
  z-index:5;
font-family: 'Miriam Libre', sans-serif;
  cursor:none;
  margin:0;
  padding:0;
  overflow-y:auto;
}

img{
     animation: compare 2s;
    position:absolute;
  width:60vw;
  height:60vw;
  background-image: url('images/ME.jpg');
  background-repeat:no-repeat;
  margin-left: 20vw;
  margin-top: 20vw;
  z-index: 8;
  filter: saturate(125%);
}
@media screen and (min-width: 800px) {
 img{
   width:25vw;
   height:25vw;
   position:absolute;
   margin-left: 64vw;
   margin-top: 5.3vw;
 }
}

p{
  position:absolute;
  color:black;
  transition:1s;
  -webkit-transition: 1s;
  -moz-transition: 1s ;
  -o-transition: 1s;
  display:initial;
  margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0vw;
    margin-inline-end: 0vw;
}
p{
position:absolute;
animation: compare 3s;
  }
  #p1{
    margin-top: 96vw;
    margin-left:20vw;
    color: black;
    font-size: 2.4vw;
  }

  @media screen and (min-width: 800px) {
   #p1{
     position:absolute;
     margin-top: 35vw;
     margin-left:10vw;
    font-size: 1.3vw;
   }
  }

  #p2{
    margin-top: 100vw;
    margin-left:20vw;
    color: black;
    font-size: 2.4vw;
  }

  @media screen and (min-width: 800px) {
   #p2{
     position:absolute;
     margin-top: 37vw;
     margin-left:10vw;
    font-size: 1.3vw;
   }
  }

  #p3{
    margin-top: 104vw;
    margin-left:20vw;
    color: black;
    font-size: 2.4vw;
  }
  @media screen and (min-width: 800px) {
   #p3{
     position:absolute;
     margin-top: 39vw;
     margin-left:10vw;
    font-size: 1.3vw;
   }
  }
  #p4{
    margin-top: 108vw;
    margin-left:20vw;
    color: black;
    font-size: 2.4vw;
  }
  @media screen and (min-width: 800px) {
   #p4{
     position:absolute;
     margin-top: 41vw;
     margin-left:10vw;
    font-size: 1.3vw;
   }
  }
  #me{
    margin-top: 112vw;
    margin-left:20vw;
    color: black;
    font-size: 2.4vw;
  }
  @media screen and (min-width: 800px) {
   #me{
     position:absolute;
     margin-top: 43vw;
     margin-left:10vw;
    font-size: 1.3vw;
   }
  }


#about{
  animation: compare 2.7s;
  position: absolute;
  margin-left:20vw;
  margin-top: 87vw;
  font-size: 5vw;
  font-weight: bold;
  pointer-events: none;
}
@media screen and (min-width: 800px) {
 #about{
   width:25vw;
   height:25vw;
   position:absolute;
   margin-left:10vw;
   margin-top: 29vw;
     font-size: 2.8vw;
 }
}

#indietro{
    animation: compare 5s;
  position: absolute;
  font-size: 7vw;
  font-weight: bold;
  color:black;
  margin-left: 7vw;
  margin-top: 5vw;
}
@media screen and (min-width: 800px) {
 #indietro{
   position:absolute;
   margin-left: 4vw;
   margin-top: 2vw;
  font-size: 4vw;
 }
}

a {
  animation: compare 2s;
  animation-duration: 2s;
  position: absolute;
    transition: 1s;
    z-index:5;
    opacity: 1;
    cursor:none;
}

a:link {
  color:black;
  text-decoration:none;
       cursor:none;
}
a:visited {
  color: black;
  text-decoration:none;
       cursor:none;
}
a:hover {
  color: #ff1a1a;
  text-decoration:none;
       cursor:none;
}
a:active {
  color: #ff1a1a;
  text-decoration:none;
       cursor:none;
}

#cursor{
  position:absolute;
  width:34px;
  height:34px;
  border:6px solid  #ff3300;
  box-sizing: content-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9;
  animation: animate 2s linear infinite;
}

a:hover ~ #cursor {
  width: 70px;
  height:70px;
  border: 2px dashed black;
  color:black;
  animation: animate 3s linear infinite;
       cursor:none;
}

@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes compare {
  0% {opacity: 0;
  }
  35% {opacity:0;}

  99% {opacity:1;
    }
}
</style>

