<style>
html {
   margin: 0px;
   height: 100%;
   width: 100%;
     cursor:none;
}
body{
  height: auto;
  width: auto;
  cursor:none;
background-attachment: fixed;
z-index:5;
font-family: 'Muli', sans-serif;
margin:0;
padding:0;
overflow-y: scroll;
overflow-x: hidden;
display:flex;
}

p{
  transition:1s;
  -webkit-transition: 1s;
  -moz-transition: 1s ;
  -o-transition: 1s;
  display:initial;
  margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0vw;
    margin-inline-end: 0vw;
    position:absolute;
      cursor:none;

}

a {
  animation: compare 2s;
  animation-duration: 2s;
  position: absolute;
    transition: 1s;
    z-index:5;
    opacity: 1;
      text-decoration:none;
        cursor:none;
}
a:link {
  color:black;
  cursor:none;
}
a:visited {
  color: black;
  cursor:none;
}
a:hover {
  color: black;
    transition: 0.5s;
    cursor:none;

}
a:active {
  color: black;
  cursor:none;
}

a:hover ~ #cursor {
  width: 80px;
  height:80px;
  border: 2px dashed black;
  color:black;
  animation: animate 3s linear infinite;
       cursor:none;
       transition: 0.2s;
       background-color:transparent;
}

#indietro{
    animation: compare 5s;
  position: absolute;
  font-size: 9vw;
  font-weight: bold;
  color:black;
  margin-left: 8vw;
  margin-top: 9vw;
    z-index:10;
  pointer-events: all;
  cursor:none;

}
@media screen and (min-width: 1300px) {
 #indietro{
   position:absolute;
   margin-left: 4vw;
   margin-top: 4vw;
  font-size: 5vw;
 }
}

#contact{
  font-family: 'Miriam Libre', sans-serif;
  font-weight: bold;
  animation: compare 2.7s;
  position: absolute;
  margin-left:20vw;
  margin-top: 89vw;
  font-size: 7vw;
    z-index: 10;
      opacity: 1;
      transition: 0.6s;
        cursor:none;
}
@media screen and (min-width: 1300px) {
 #contact{
   width:25vw;
   height:25vw;
   position:absolute;
   margin-left:64.5vw;
   margin-top: 20vw;
     font-size: 2.8vw;
 }
}


#cursor{
  position:fixed;
  cursor:none;
  opacity:0;
  pointer-events: none;
}
@media screen and (min-width: 1300px) {
 #cursor{
   opacity:1;
   position:fixed;
   cursor:none;
   width:66px;
   height:66px;
   background-color: #00FA9A;
   box-sizing: content-box;
   transition: 0.1s;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   z-index:9;
   pointer-events: none;
 }
}

#cursor2{
  position:fixed;
    cursor:none;
  width:66px;
  height:66px;
  background-color:transparent;
  box-sizing: content-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index:9;
  pointer-events: none;
}




#behance {
  animation: compare 3.5s;
position:absolute;
margin-top:103vw;
  margin-left:20vw;
color: black;
  font-size: 4.4vw;
  transition: 0.6s;
  z-index:10;
opacity: 1;
  cursor:none;
}
@media screen and (min-width: 1300px) {
 #behance{
   position:absolute;
font-size: 1.4vw;
margin-top: 25.6vw;
margin-left: 70.1vw;
 }
}
#insta {
    animation: compare 3.5s;
  font-weight:normal;
position:absolute;
margin-top:112vw;
margin-left:20vw;
position:absolute;
color:black;
  font-size: 4.4vw;
z-index:10;
opacity: 1;
  cursor:none;
}
@media screen and (min-width: 1300px) {
 #insta{
   position:absolute;
font-size: 1.4vw;
margin-top: 29.3vw;
margin-left: 69.2vw;
 }
}

#email {
  animation: compare 3.5s;
position:absolute;
margin-top:120.2vw;
  margin-left:20vw;
color:black;
font-size: 4.4vw;
z-index:10;
  cursor:none;
}
@media screen and (min-width: 1300px) {
#email{
 position:absolute;
font-size: 1.4vw;
margin-top: 33vw;
margin-left: 71.9vw;
 }
}

.box-insta:hover  ~ #cursor {
  width: 50vw;
  height:50vw;
  background-color: #FFDC80;
    background-image:linear-gradient(to bottom right, #FFDC80,#FCAF45, #F77737, #F56040, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
  transition: 0.2s;
    border-radius: 14%;
    filter:blur(30px);
      animation: animate 33s linear infinite;
        cursor:none;
}
.box-insta:hover  ~ #cursor2 {
background-color: transparent;
  cursor:none;
}
.box-behance:hover  ~ #cursor2 {
background-color: transparent;
  cursor:none;
}
.box-behance:hover  ~ #cursor {
  width: 60vw;
  height:60vw;
  background-color: blue;
  transition: 0.2s;
    border-radius: 50%;
    filter:blur(0.4px);
      cursor:none;
}
.box-email:hover  ~ #cursor {
  width: 60vw;
  height:60vw;
  background-color: red;
  transition: 0.2s;
  opacity:1;
    border-radius: 50%;
    filter:blur(100px);
      cursor:none;
}
.box-email:hover  ~ #cursor2 {
  width: 6vw;
  height:4vw;
  background-color: white;
  transition: 0.2s;
    border-radius: 5%;
    filter:blur(0.2px);
      cursor:none;
}


.box-behance, .box-insta, .box-email, {
  position:absolute;
  width:130%;
  height: 20%;
  cursor:none;
  z-index:9;
}
.box-behance, .box-insta, .box-email, a {
  line-height:4.6vw;
    cursor:none;
}

.custom-underline {
  position: absolute;
  display: inline-block;
  text-align: center;
    cursor:none;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: black;
  text-decoration: none;
    cursor:none;
}
.custom-underline::after {
  content: "";
  position: absolute;
    cursor:none;
}

.box-behance .custom-underline::after {
  top: 70%;
  height: 0.16vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}
.box-insta .custom-underline::after {
  top: 70%;
  height: 0.15vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}

.box-email .custom-underline::after {
  top: 70%;
  height: 0.12vw;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 2);
    transition: 0.3s ease all .1s;
}

.box-behance:hover .custom-underline::after {
  width: 90%;
    transition: 0.25s ease all;
      cursor:none;
}
.box-insta:hover .custom-underline::after {
  width: 90%;
    transition: 0.25s ease all;
}

.box-email:hover .custom-underline::after {
  width: 90%;
    transition: 0.25s ease all;
}
@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes compare {
  0% {opacity: 0;
  }
  35% {opacity:0;}

  99% {opacity:1;
    }
}

</style>
