<style>
html{}
body{
  background-color: white;
  background-repeat:no-repeat;
  background-position: 90% 90%;
  background-attachment: fixed;
  background-size: 20%;
  margin-right:0px;
  margin-bottom: 0px;
  font-family: 'Baloo 2', cursive;
font-size: 100%;
}

h1{
  text-align:center;
  color:#00ffcc;
  position: relative;
  margin-top: 60px;
}

#cornice{
  position:absolute;
  left:50%;
  top:50%;
  width:40em;
  height:40em;
  transform:translate(-50%,-50%);

}

.quadrato{
  position:absolute;
  width:3em;
  height:3em;
  z-index:3;
}

#q-altosin{
  background-color: blue;
}

#q-altodes{
  left:37em;
  background-color:yellow;
}

#q-bassosin{
  bottom:0px;
  left:0px;
  background-color:pink;
}

#q-bassodes{
  bottom:0px;
  right:0px;
  background-color: red;
}

.scambioalto {
  animation: scambio 1s forwards;
}

.riscambioalto {
  animation: riscambio 1s forwards;
}

.gira {
  animation: ruota 3s infinite;
  position:center;
}

@keyframes scambio{
  0%{left:0em;
  top:0em;}
  100%{left:37em;
  top:0em;}
}

@keyframes riscambio{
  0%{left:37em;
  top:0em;}
  100%{left:0em;
  top:0em;}
}

@keyframes ruota{
  0%{transform:translate(-50%,-50%)
    rotate(0deg);
}
  100%{transform:translate(-50%,-50%)
  rotate(360deg);}
}
