<style>
html{}
body{
  background-color: white;
  background-repeat:no-repeat;
  background-position: 90% 90%;
  background-attachment: fixed;
  background-size: 20%;
  margin-right:0px;
  margin-bottom: 0px;
  font-family: 'Baloo 2', cursive;
font-size: 100%;
}

h1{
  text-align:center;
  color:#00ffcc;
  position: relative;
  margin-top: 60px;
}

#stella{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: yellow;
}

#cornice{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#pianeta{
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: blue;
}

#cornice2{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#pianeta2{
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: red;
}

@keyframes spin {
  from{transform: translate(-50%,-50%) rotate(0);}
  to{transform: translate(-50%,-50%)rotate(360deg);}
}

.spinning{
  animation: spin 1s infinite linear;
}

@keyframes spin2 {
  from{transform: translate(-50%,-50%) rotate(0);}
  to{transform: translate(-50%,-50%)rotate(-360deg);}
}

.spinning2{
  animation: spin2 2s infinite linear;
}

@keyframes antispin {
  from{transform:translate(-50%,-50%) rotate(0deg);}
  to{transform:translate(-50%,-50%) rotate(-360deg);}
}

.antispinning{
  animation: antispin 1s infinite linear;
}

@keyframes antispin2 {
  from{transform:translate(-50%,-50%) rotate(0deg);}
  to{transform:translate(-50%,-50%) rotate(360deg);}
}

.antispinning2{
  animation: antispin2 2s infinite linear;
}
</style>
