<style>
html{}
body{
  background-color: white;
  background-repeat:no-repeat;
  background-position: 90% 90%;
  background-attachment: fixed;
  background-size: 20%;
  margin-right:0px;
  margin-bottom: 0px;
  font-family: 'Baloo 2', cursive;
font-size: 100%;
}

h1{
  text-align:center;
  color:#00ffcc;
  position: relative;
  margin-top: 60px;
}

.q{
  position: absolute;
  width:30px;
  height:30px;
  background-color:green;
   display: inherit;
opacity:0;
  transform: translate(-50%, -50%);
}

.center{
  left:50%;
  top:50%;
  opacity:1;
  transform: translate(-50%, -50%);
}
.c {
  position:absolute;
  width:30px;
  height:30px;
  opacity:1;
  display:inherit;
  transform: translate(-50%, -50%);

}
.fuori {
  left:100%;
  top:50%;
  opacity:1;
  transform: translate(-50%, -50%);

}
.mariaesco {
  animation: esce 3s forwards;
  transform: translate(-50%, -50%);
}
@keyframes esce {
  from {left:50%;
    top:50%;
    opacity:1;
  }
  to {left:110%;
    top:50%;
    opacity:1;
  }
}
.mariaentro {
  animation: entra 3s forwards;
  background-color:blue;
  border-radius:50%;
  transform: translate(-50%, -50%);

}
@keyframes entra{
  from{left:100%;
    top:50%;
    opacity:1;
    }
  to{left:50%;
    top:50%;
    opacity:1;
  }
}

.squadra {
  animation: quadra 2s forwards;
  border-radius: 0%;
  background-color: red;
  opacity:1;
  position:absolute;
  left:50%;
  top:50%;
}

@keyframes quadra{
  from{ border-radius:50%;
    background-color: blue;
    }
  to{ border-radius: 0%;
    background-color:red;
  }
}

.ruota {
  animation: giro 1s linear infinite;
  left:50%;
  top:50%;
  position:absolute;

}

@keyframes giro {
  from{ transform:translate(-50%,-50%)
    rotate(0deg);
    }
  to{ transform:translate(-50%,-50%)
    rotate(-360deg);
    }
}

.riesco {
  animation: esco2 2s forwards;
  position:absolute;
  transform: translate(-50%, -50%);
}

@keyframes esco2 {
  from{left:50%;
    top:50%;
    }
  to{left:110%;
    top:50%;

  }
}

.entro2 {
  animation: entro2 2s forwards;
  position:absolute;
  transform: translate(-50%, -50%);
}

@keyframes entro2 {
  from{left:100%;
    top:50%;

  }
  to{left:50%;
    top:50%;

  }
}

</style>
