<style>
html{}
body{
  background-color:white;
  background-position: 80% 70%;
  background-attachment: fixed;
  background-size: 40%;
  margin-right:0px;
  margin-bottom: 0px;
  z-index:3;
  margin:0px;
  font-family: 'Baloo 2', cursive;
  font-size: 100%;
}

h1 {
  color:#00ffcc;
  position:absolute;
  left: 660px;
}

a {
  animation: compare 5.4s;
    color:white;
    font-size: 30px;
    transition: 1s;
    z-index:4;
    opacity: 1;
    transition: 1s;
    animation-duration: 5.4s;
    animation-timing-function:cubic-bezier(20deg);
    text-decoration:none;
}
a:link {
  color:black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #00ffcc;
}
a:active {
  color: black;
}

#es1{
  animation:compare 2s forwards;
  position:absolute;
  left:260px;
  top:176px;
}
#es2{
  animation:compare 2s forwards;
  position:absolute;
  left:260px;
  top:260px;
}
#es3{
  animation:compare 2s forwards;
  position:absolute;
  left:260px;
  top:340px;
}
#es4{
  animation:compare 2s forwards;
  position:absolute;
  left:260px;
  top:420px;
}
#es5{
  animation:compare 2s forwards;
  position:absolute;
  left:260px;
  top:500px;
}
#es6{
  animation:compare 2s forwards;
  position:absolute;
  left:260px;
  top:580px;
}



#v1{
  top:190px;
  animation: righe 2s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:405px;
  background-color:black;
  transform:translate(-50%,-50%);
}

#v2{
  top:275px;
  animation: righe 2s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:405px;
  background-color:black;
  transform:translate(-50%,-50%);
}

#v3{
  top:355px;
  animation: righe 2s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:405px;
  background-color:black;
  transform:translate(-50%,-50%);
}
#v4{
  top:435px;
  animation: righe 2s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:405px;
  background-color:black;
  transform:translate(-50%,-50%);
}
#v5{
  top:515px;
  animation: righe 2s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:405px;
  background-color:black;
  transform:translate(-50%,-50%);
}
#v6{
  top:595px;
  animation: righe 2s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:405px;
  background-color:black;
  transform:translate(-50%,-50%);
}

@keyframes righe {
  from{
    width:0px;
    transform:translate(-50%,-50%);
  }
  to{
    width:405px;
    transform:translate(-50%,-50%);
  }
}


@keyframes compare{
  0%{opacity:0;}
  40%{opacity:0;}
  100%{opacity:1;}
}


</style>
