<style>
html{}
body{
  background-image: url("images/sfondo.JPG");
  background-repeat: no-repeat;
  background-color:black;
  background-position: 80% 70%;
  background-attachment: fixed;
  background-size: 40%;
  margin-right:0px;
  margin-bottom: 0px;
  z-index:3;
  margin:0px;
  font-family: 'Shrikhand', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Poiret One', cursive;
font-size: 100%;
}
h1 {
  color:#642EFE;
  position:absolute;
  left: 660px;
}

a {
  animation: compare 5.4s;
    color:white;
    font-size: 30px;
    transition: 1s;
    z-index:4;
    opacity: 1;
    transition: 1s;
    animation-duration: 5.4s;
    animation-timing-function:cubic-bezier(20deg);
    text-decoration:none;
}
a:link {
  color:white;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #642EFE;
}
a:active {
  color: black;
}

#es1{
  position:absolute;
  left:260px;
  top:180px;
}
#es2{
  position:absolute;
  left:260px;
  top:260px;
}
#es3{
  position:absolute;
  left:260px;
  top:340px;
}
#es4{
  position:absolute;
  left:260px;
  top:420px;
}
#es5{
  position:absolute;
  left:260px;
  top:500px;
}
#es6{
  position:absolute;
  left:260px;
  top:580px;
}



#v1{
  top:190px;
  animation: righe 2.5s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:385px;
  background-color:white;
  transform:translate(-50%,-50%);
}

#v2{
  top:275px;
  animation: righe 2.5s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:385px;
  background-color:white;
  transform:translate(-50%,-50%);
}

#v3{
  top:355px;
  animation: righe 2.5s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:385px;
  background-color:white;
  transform:translate(-50%,-50%);
}
#v4{
  top:435px;
  animation: righe 2.5s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:385px;
  background-color:white;
  transform:translate(-50%,-50%);
}
#v5{
  top:515px;
  animation: righe 2.5s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:385px;
  background-color:white;
  transform:translate(-50%,-50%);
}
#v6{
  top:595px;
  animation: righe 2.5s forwards;
  position:absolute;
  z-index:4;
  height:3px;
  width:385px;
  background-color:white;
  transform:translate(-50%,-50%);
}

@keyframes righe {
  from{
    width:0px;
    transform:translate(-50%,-50%);
  }
  to{
    width:385px;
    transform:translate(-50%,-50%);
  }
}


</style>
