
  <style>
  html{}
    body {
      background-image: url("images/im18.JPG");
      background-repeat: no-repeat;
      background-color:black;
      background-position: 130% 70%;
      background-attachment: fixed;
      background-size: 50%;
      margin-right:0px;
      margin-bottom: 0px;
      z-index:3;
      margin:0px;
      font-family: 'Shrikhand', cursive;
      font-family: 'Shadows Into Light', cursive;
      font-family: 'Poiret One', cursive;
    font-size: 100%;
    }


div.gallery {
    margin-top: 20%;
    margin-left: 130px;
    border: 0px solid #ccc;
    float: left;
    width: 180px;
    z-index: 5;
}

div.gallery:hover {
    border: 0px solid #777;
}

div.gallery img {
    width: 150%;
    height: auto;
    z-index: 5;
}

a{
  transition:1s;
}


a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #642EFE;
}
a:active {
  color: #642EFE;
}






h1 {
  color:#642EFE;
  position:absolute;
  left:47%;
  top:10%;
}

p{
  position:absolute;
  text-align: center;

  color: white;
  margin-left: 47%;
  size:50%;
}
#photos{
  position:absolute;
  animation: compare 2s forwards;
  margin-top:190px;
}
#illustrations{
  margin-top:165px;
  animation: compare 2s forwards;
}
#foto{
  top:3400px;
}



#bocca {
  position:absolute;
  margin-left: 190px;
  margin-top:2590px;
  background-size: 1% 3%;


}
#mauer{
  position:absolute;
  margin-left:160px;
  margin-top:3500px;
}
#am{
  position:absolute;
  margin-left:160px;
  margin-top:4300px;
}
#berlin{
  position:absolute;
  margin-left:160px;
  margin-top:5100px;
}
#piano{
  position:absolute;
  margin-left:160px;
  margin-top:5900px;
}
#matera{
  position:absolute;
  margin-left:160px;
  margin-top:6700px;
}
#pots{
  position:absolute;
  margin-left:160px;
  margin-top:7500px;
}


#mt{
  position:absolute;
  margin-left:160px;
  margin-top:8300px;
  transform:rotate(180deg);
}
#meduse {
  position:absolute;
  margin-left:160px;
  margin-top:9100px;
}
#cus {
  position:absolute;
  margin-left:800px;
  margin-top:9100px;
}

#v1{
  animation:riga 2s forwards;
  top: 175px;
  position:absolute;
  z-index:4;
  height:3px;
  width:1310px;
  background-color:white;
  transform:translate(-50%,-50%);
}
#v2{
  animation:riga 2s forwards;
  top: 215px;
  position:absolute;
  z-index:4;
  height:3px;
  width:1310px;
  background-color:white;
  transform:translate(-50%,-50%);
}


@keyframes riga{

    from{
      width:0px;
      transform:translate(-50%,-50%);
    }
    to{
      width:1310px;
      transform:translate(-50%,-50%);
  }
}

@keyframes compare{
  0%{opacity:0;}
  40%{opacity:0;}
  100%{opacity:1;}
}


 </style>
